<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<meta charset="UTF-8">
	<title>CSDD - CS Design &amp; Development</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" media="all" href="/favicon.ico?v=2">
	<link rel="shortcut icon" type="image/x-icon" media="all" href="/favicon.ico?v=2">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body ng-app="mainApp">
	<header>
	  <div class="contain-to-grid sticky">
	    <nav class="top-bar" data-topbar role="navigation">
	      <ul class="title-area">
	        <li class="name">
	          <a href="#top">
              <div class="logo">
	              <div class="bracket">
	                <h1>&lt;</h1>
	              </div>
	       		    <div>
	       			    <div><h1>CS</h1></div>
	       			    <div><h1>DD</h1></div>
	       		    </div>
	       		    <div class="bracket">
	       			    <h1>&gt;</h1>
	              </div>
		          </div>
            </a>
		      </li>
		      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		    </ul>
		    <section class="top-bar-section">
		      <ul class="left">
		        <li><a href="#oMnie"><i class="fa fa-user"></i>About me</a></li>
		        <li><a href="#skills"><i class="fa fa-certificate"></i>Skills</a></li>
		        <li><a href="#design"><i class="fa fa-paint-brush"></i>Design</a></li>
		        <li><a href="#development"><i class="fa fa-magic"></i>Development</a></li>
            <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
            <li><a href="#contact"><i class="fa fa-envelope"></i>Contact</a></li>
		      </ul>
		    </section>
		 </nav>
		</div>
		<div class="logo">
			<div class="bracket">
				<h1>&lt;</h1>
			</div>
			<div>
				<div><h1>CS</h1></div>
				<div><h1>DD</h1></div>
			</div>
			<div class="bracket">
				<h1>&gt;</h1>
			</div>
		</div>
		<p>CS Design &amp; Development</p>
	</header>
	<article id="oMnie">
		<div class="row">
			<h1>About me</h1>
			<div class="small-block-grid-8 medium-8 large-8 small-centered medium-centered large-centered columns">
		        <img src="images/svg-icons/me.jpg" alt="author">
		        <p>Cezary Boguslaw Stefanski</p>
    		</div>
    		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
    			<li>
    				<img src="images/svg-icons/international.svg" alt="location" class="svg">
        			<p>Warsaw, Poland</p>
    			</li>
    			<li>
    				<img src="images/svg-icons/birthday.svg" alt="birthday" class="svg">
        			<p>1987/08/17</p>
    			</li>
    			<li>
    				<img src="images/svg-icons/education.svg" alt="education" class="svg">
        			<p>Education in progress...</p>
    			</li>
    			<li>
    				<img src="images/svg-icons/calendar.svg" alt="comissions" class="svg">
        			<p>Currently taking comissions <i class="fa fa-check-square-o"></i></p>
    			</li>
    		</ul>
      		<!--
      		<div class="small-6 medium-4 large-4 columns">
        		<img src="images/svg-icons/international.svg" alt="location" class="svg">
        		<p>Warsaw, Poland</p>
      		</div>
      		<div class="small-6 medium-4 large-4 columns">
        		<img src="images/svg-icons/birthday.svg" alt="birthday" class="svg">
        		<p>1987/08/17</p>
      		</div>
      		<div class="small-6 medium-4 large-4 columns">
        		<img src="images/svg-icons/education.svg" alt="education" class="svg">
        		<p>Education in progress...</p>
      		</div>
      		<div class="small-6 medium-4 large-4 medium-centered large-centered columns">
        		<img src="images/svg-icons/calendar.svg" alt="comissions" class="svg">
        		<p>Currently taking comissions <i class="fa fa-check-square-o"></i></p>
      		</div>
      		-->
		</div>
	</article>
	<article id="skills">
		<div class="row" ng-controller="MainController">
			<h1>Skills</h1>
			<p>Click on the pictures to learn more about my skills. (This whole section is AngularJS btw ;) )</p>
			<div class="row">
        	  <div class="small-6 medium-4 large-2 columns skillSlot" ng-repeat="skill in skills">
        	  	<a href="#" data-reveal-id="{{skill.modalName}}">
        	  	  <div>
        	  	  	<img ng-src="{{ skill.image }}" alt="{{ skill.name }}">
        	  	  	<p> {{ skill.name }} </p>
        	  	  	<div class="progress"><span class="meter" style="width: {{ skill.meter }}"> {{ skill.meter }} </span> </div>
        	  	  </div>
        	  	</a>
        	    <div id="{{skill.modalName}}" class="reveal-modal" data-reveal aria-labelledby="{{ skill.modalTitle }}" aria-hidden="true" role="dialog">
  				  <h2 id="{{ skill.modalTitle }}"> {{ skill.name }} </h2>
  				  <p>{{ skill.modalText }}</p>
  				  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
        	  </div>
      		</div>
		</div>
	</article>
	<article id="design">
		<div class="row">
			<h1>Design</h1>
			<h3>Responsive Web Design</h3>
			<div class="row">
				<div class="large-7 columns">
					<p>The mobile revolution is no longer an estimation or wishful thinking. Google announced that mobile searches in fact surpassed desktop searches. Their new searching algorithm is active - pages that adapt to mobile devices are now appearing higher in the search results. The BIA Kelsey report suggests that by 2018, mobile queries will be double that of the traditional ones. And that is not surprising. Chances are, you, the reader, is also reading this website on a smartphone. The worldwide accessibility of information on the go is perhaps one of the biggest breakthroughs of the modern internet technology.</p>
				</div>
				<div class="large-5 columns">
					<figure>
						<img src="images/other/mobileReport.png" alt="BIA Kelsey report">
						<figcaption><p>The BIA Kelsey report for May 2015 - <a href="http://blog.biakelsey.com/index.php/2015/05/14/the-new-search-weve-reached-the-mobile-vs-desktop-tipping-point/" target="_blank">link</a></p></figcaption>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="large-7 columns">
					<p>However, while the biggest sites have adapted to the increased traffic through the use of phones and tablets, over 80% of the top 10,000 sites in the world are still not ready for this. That kind of behaviour results in what is called a site abandonment. A user seeing a slow loading, huge, hard to navigate on a small screen page (sometimes still with Flash elements) is far more likely to back out of it and just click another result. While there is no clear standard because of the ever-changing mobile device screen revolutions, responsive web design aims to make the website adapt, or 'respond' to those various sizes. This site is in fact responsive. If you are using a desktop browser, go ahead and resize it to a more mobile width. It's still readable and navigates quite nice on that width, wouldn't you say?</p>
				</div>
				<div class="large-5 columns">
					<figure>
						<img src="images/other/rwdReport.png" alt="Akamai report">
						<figcaption><p>The Akamai report for November 2014 - <a href="http://marketingland.com/82-sites-use-responsive-web-design-2015-try-11-8-114050" target="_blank">link</a></p></figcaption>
					</figure>
				</div>
			</div>
			<h3>Good User Experience</h3>
			<div class="row">
				<div class="large-7 columns">
					<p>A user on the web doesn't need to be attacked by content. He needs a legible, clean and intuitive experience while browsing. User Experience, or UX is one of the main goals of modern web design. And that a great thing. If a user comes across a complicated, non-readable website, he is far more likely to click out and navigate to another result. Obviously, you don't want this to happen. That's why a lot of contemporary apps and sites adopt a simple, fool-proof approach to their content. When you open up Facebook, you don't need to scroll through or wonder where to go next. The first things you see are bright red notification icons, and even before clicking, you just know by looking at them which one is messages and which is new friend requests. If you're using a phone, the icons are placed so you can reach them with your finger. That's how a great UX design works.</p>
				</div>
				<div class="large-5 columns">
					<figure>
						<img src="images/other/uxWheel.png" alt="User Experience wheel">
						<figcaption><p>Magnus Revang's UX Wheel - <a href="http://userexperienceproject.blogspot.com/2007/04/user-experience-wheel.html" target="_blank">link</a></p></figcaption>
					</figure>
				</div>
			</div>
		</div>
	</article>
	<article id="development">
		<div class="row">
			<h1>Development</h1>
			<div class="row">
				<div class="large-7 columns">
					<p>Development is pretty much like modern magic. You do some strange things with some letters and numbers and magical things happen in a website. Look a few years back, when only static websites were around. There wasn't much in terms of interactivity, all you could do is click to load a new page with new content. Now, all you want to show, can be loaded dynamically and changed according to the user's behaviour. You can even load up your content in an external file and let the website parse and present it. There are literally thousands of different solutions and tools to make your website more magical each day, and it's my work to choose which ones apply best for your website and leave you clients amazed.</p>
				</div>
				<div class="large-5 columns">
					<figure>
						<img src="images/other/code.png" alt="sample code">
						<figcaption>
							<p>Each modern website has a lot going on under its hood.</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</article>
	<article id="portfolio">
		<div class="row" ng-controller="MainController">
			<h1>Portfolio</h1>
			<p>Some stuff is almost ready, but clients are a bit slow with their content ... so the portfolio is a work in progress.</p>
			<div class="row">
        	  <div class="small-6 medium-4 large-4 columns projectSlot" ng-repeat="project in projects">
        	  	<a href="#" data-reveal-id="{{project.modalName}}">
        	  	  <div>
        	  	  	<img ng-src="{{ project.thumb }}" alt="{{ project.name }}">
        	  	  	<p> {{ project.name }} </p>
        	  	  </div>
        	  	</a>
        	    <div id="{{project.modalName}}" class="reveal-modal projectModal" data-reveal aria-labelledby="{{ project.modalTitle }}" aria-hidden="true" role="dialog">
  				  <h2 id="{{ project.modalTitle }}"> {{ project.name }} </h2>
  				  <img ng-src="{{ project.image }}" alt="{{ project.name }}">
  				  <p><strong>What was done:</strong> {{ project.modalText }}</p>
  				  <p><strong>What was used:</strong> {{ project.modalTools }}</p>
  				  <a href="{{ project.url }}" target="_blank">link</a>
  				  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
        	  </div>
      		</div>
		</div>
	</article>
	<article id="contact">
		<div class="row">
			<h1>Contact</h1>
			<p>So, from all of this, you can deduce that &lt;CSDD&gt; makes websites. Want one?</p>
			<p>Email me at: <span class="e-l"></span></p>
			<p>I have a front-end development blog in production, when it will be ready, I'll link it here. Please check it out later!</p>
			<p>Also check out those goodies:</p>
			<ul class="social">
				<li><a href="#"><i class="fa fa-facebook-square"></i> </a></li>
				<li><a href="#"><i class="fa fa-twitter-square"></i> </a></li>
				<li><a href="https://www.pinterest.com/cezarystefanski/"><i class="fa fa-pinterest-square"></i> </a></li>
				<li><a href="https://pl.linkedin.com/in/cezaryboguslawstefanski"><i class="fa fa-linkedin-square"> </i></a></li>
				<li><a href="https://github.com/cezarystefanski"><i class="fa fa-github-square"></i> </a></li>
				<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
			</ul>
		</div>
	</article>
  <footer>
    <div class="row">
      <p>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a>.</p>
      <p>&copy; 2015 &lt;CSDD&gt;. All rights reserved.</p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.topbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.reveal.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>